body {
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--grey);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

/* Всі контейнери */
.container {
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}